{% extends 'base.html' %}

{% block title %}
Todo List!
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <div>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new item </a>
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>

                {% for todo in todo_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_todo' todo.id %}">{{todo.name}}</a>
                    </td>

                    <td> {{ todo.items.all | length}}
                </tr>
                {% endfor %}

            </tbody>
    </div>
</main>
{% endblock content %}
